Instagram.json
{
  "name": "Instagram YT",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "24bc0da6-9cdf-4a95-bca7-dac7bf087089",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2992,
        208
      ],
      "id": "f8ef8b1f-1289-479e-ba4b-f526e5353448",
      "name": "Entrada",
      "webhookId": "07ee996c-1ace-4516-884e-1eb75f0ad726"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e1d7bedb-d82b-4f5b-88be-46d00cbd7fff",
              "leftValue": "={{ $json.body.entry[0].id }}",
              "rightValue": "={{ $json.body.entry[0].changes[0].value.media.id }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "8db163b5-ed2c-4275-a504-1009552e3897",
              "leftValue": "={{ $json.body.entry[0].id }}",
              "rightValue": "={{ $json.body.entry[0].changes[0].value.from.id }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "2a763f1e-eeb2-4c73-a1ac-6e3c9e7e2c40",
              "leftValue": "={{ $json.body.entry[0].messaging[0].message.is_echo }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "b798c849-6a2d-4681-bccc-37b1411a7fef",
              "leftValue": "={{ $json.body.entry[0].messaging }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2544,
        -192
      ],
      "id": "49c63d4f-46a7-4d64-a1d7-d195f01138e5",
      "name": "Filter2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "20acac74-78c4-41c3-aa81-c8442d5115b2",
              "name": "myID",
              "value": "={{ $json.body.entry[0].id }}",
              "type": "string"
            },
            {
              "id": "aa0e8b44-2c42-48de-8d1b-e921ebb99a45",
              "name": "coments",
              "value": "={{ $json.body.entry[0].changes[0].value.text }}",
              "type": "string"
            },
            {
              "id": "6b2d1a25-2797-446a-8420-184eb38660b3",
              "name": "nameUser",
              "value": "={{ $json.body.entry[0].changes[0].value.from.username }}",
              "type": "string"
            },
            {
              "id": "ff568619-6db8-496d-83c0-6173826ebdca",
              "name": "idComents",
              "value": "={{ $json.body.entry[0].changes[0].value.id }}",
              "type": "string"
            },
            {
              "id": "aa85cf20-ddb4-4945-ac51-369fb42c4a48",
              "name": "idUser",
              "value": "={{ $json.body.entry[0].changes[0].value.from.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2208,
        -192
      ],
      "id": "e02258c7-55f0-464d-ab12-5d7c3ba4c7be",
      "name": "Filtro inicial2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "=para dar respuesta al usuairo sera de esta manera:\n\n@{{ $('Filtro inicial2').item.json.nameUser }} Saludos te enviamos un DM\n\no \n\n@{{ $('Filtro inicial2').item.json.nameUser }} Te enviamos un DM .\n\no\n\n@{{ $('Filtro inicial2').item.json.nameUser }} Te enviamos un mensaje al privado, Revisa tu DM 🙌?\n\npuedes usar cualquiera de estas 3 opciones de forma aletaria\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -800,
        -448
      ],
      "id": "79e7756c-1ec9-47da-b38f-e290207c2a28",
      "name": "Basic LLM Chain10"
    },
    {
      "parameters": {
        "url": "={{ $('Entrada').item.json.body.entry[0].messaging[0].message.reply_to.story.url }}",
        "options": {}
      },
      "id": "b4a3158e-12d8-425e-90ca-b19c4467f9d9",
      "name": "Download Image1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2208,
        208
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=extrae de la imagen un codigo de 3 a 4 dígitos \n\neste codigo lo vas a pasar al siguiente nodo\nel codigo puede estar con un #  \n\ndebes de eliminar el # y enviar unicamente el codigo",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "id": "402eb3bd-4346-4b2a-9993-775a7f6aecd8",
      "name": "Image Explainer1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -1856,
        208
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "id": "75618b9f-5e72-42d4-808f-c0780055aa00",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -1792,
        432
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "UkFJSHkft9xeNaIA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "temperature": 0,
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1088,
        320
      ],
      "id": "51eb691e-069e-479b-8753-ba1d5d27c767",
      "name": "OpenAI Chat Model12",
      "credentials": {
        "openAiApi": {
          "id": "nGCIfb7hYxuXa12Q",
          "name": "openai eleudo"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].changes[0].field }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "8aeb3550-acba-4405-9899-19e321d5f736"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Comentarios"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d68f6bf0-1873-4083-87fd-befe97a96786",
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message.reply_to.story }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "History"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "55b0a519-9a8e-4571-8c6c-4822cefc94e6",
                    "leftValue": "={{ $json.body.object }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2768,
        192
      ],
      "id": "4c86d07d-9cb0-4e57-8a89-5447b84dbec2",
      "name": "Switch3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Entrada').item.json.body.entry[0].messaging[0].message.text }}",
        "options": {
          "systemMessage": "=usa estos datos para responder:\n\npara responder siempre empieza por este mensaje:\n\nHola 👩🏻‍🔬, notamos que estas interesad@ en nuestra publicacion\n\nNuestro producto {{ $json.json_agg[0].producto }} tiene un costo de {{ $json.json_agg[0].precio }} de la marca {{ $json.json_agg[0].marca }} y actualmente (en este caso verifica si tiene existencia en caso de tener responde que tienen disponibilidad inmediata) {{ $json.json_agg[0].existencia }} la fecha de vencimiento es  (en caso de no tener fecha de vencimiento se le notifica al cliente que no tiene fecha de vencimiento) {{ $json.json_agg[0].fecha_vencimiento }}\n\nPara mas informacion sobre el producto puedes contactarnos al WhatsApp (envia este enlace https://wa.me/584264256617)\n\n- Esos son los datos pero usa mejor respuesta y mejora la interasion con el usuario se mas humano\n\n- no respondas usadno * solo da los datalles del producto\nel precio tiene que ir seguido de la siglas del $ \n\nsi {{ $('Execute a SQL query3').item.json.json_agg }} = [null]\nponte a disposicion del usuario para cualquier inquietud y pregunta"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1152,
        96
      ],
      "id": "8620efb8-4964-4cfc-8abc-5387cf7df896",
      "name": "AI Agent8"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT (\n    SELECT json_agg(t)\n    FROM (\n        SELECT *\n        FROM public.cosmy_products t\n        WHERE LOWER(codigo) LIKE '%' || LOWER('{{ $json.text }}') || '%'\n    ) t\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1440,
        208
      ],
      "id": "e7ea9e46-2f2c-44a5-8bbc-b0e8a0176d7f",
      "name": "Execute a SQL query3",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "e6quJ2AJC7ic0Vmf",
          "name": "Daniela"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v23.0/{{ $('Filtro inicial2').item.json.idComents }}/replies",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id,text,from,timestamp"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer AQUI TU TOKEN"
            },
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"message\":\"{{ $json.text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        -352
      ],
      "id": "47732b52-afab-45b9-ad4e-72197cbd43a0",
      "name": "Contestar comentarios3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "temperature": 0,
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        -128
      ],
      "id": "66130dfb-dc9d-4657-905b-4ac4260e6457",
      "name": "OpenAI Chat Model14",
      "credentials": {
        "openAiApi": {
          "id": "nGCIfb7hYxuXa12Q",
          "name": "openai eleudo"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Extraer las descripcion3').item.json.caption }}",
        "options": {
          "systemMessage": "=**Tarea:** Extrae el código del producto de la siguiente descripción.\n**Descripción:** {{ $('Extraer las descripcion3').item.json.caption }}\n**Instrucciones:** \n1. Busca una secuencia de 1 a 4 dígitos.\n2. Extrae ÚNICAMENTE el código numérico. No incluyas ningún otro texto, ni siquiera los dígitos de la descripción.\n3. El resultado debe ser solo el número. Por ejemplo, si el código es \"#14\", el resultado debe ser solo \"14\".\n4. si pasa mas de 2 codigo envialo por separa cada codigo sin colocar saltos de linea y en un array\n4. Si no encuentras un código, devuelve un null\n\n**FORMATO DE SALIDA:**\nDebes devolver la respuesta **ÚNICAMENTE** en formato JSON.\nEl JSON debe contener un solo campo llamado **\"codigos\"**, cuyo valor es un **array de strings** con los códigos extraídos.\n\n**Ejemplos de Formato:**\n- Si se encuentra: 1\n  - Salida: {\"codigos\": [\"1\"]}\n- Si se encuentran: 2 y 3\n  - Salida: {\"codigos\": [\"2\", \"3\"]}\n- Si no se encuentra ningún código:\n  - Salida: {\"codigos\": null}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -224,
        -352
      ],
      "id": "5b7060a5-c223-41ca-a7cf-61cba28aea7b",
      "name": "AI Agent10"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.listaProductos }}",
        "options": {
          "systemMessage": "=para responder siempre empieza por este mensaje:\n\nHola, notamos que estas interesad@ en nuestra publicacion:\n\nNuestro/s producto/s son los siguientes: \n\n{{ $json.listaProductos }}\n\nPara mas informacion puedes contactarnos al WhatsApp (envia este enlace https://wa.me/584264256617)\n\nsolo vas a responder con ese mensaje\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1248,
        -448
      ],
      "id": "35a96eaa-4701-4ee7-82b3-a9c3953e4b4b",
      "name": "AI Agent11"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "SI",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8c2750f4-1901-4714-ade5-cdbb3152bc3c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SI"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "39abba26-c1b0-4ba1-a956-1bae60fa30c8",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "No",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1088,
        -192
      ],
      "id": "72f74505-2fb8-4427-92fd-10ac240305b9",
      "name": "Switch4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa0e8b44-2c42-48de-8d1b-e921ebb99a45",
              "name": "coments",
              "value": "={{ $json.body.entry[0].changes[0].value.text }}{{ $json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2544,
        208
      ],
      "id": "761b761f-b4a8-4b3f-b565-ec041f55a28e",
      "name": "Filtro inicial3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v23.0/{{ $('Entrada').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer AQUI TU TOKEN"
            },
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_type\": \"RESPONSE\",\n  \"recipient\": {\n    \"id\": \"{{ $('Entrada').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": {{ JSON.stringify($('AI Agent8').item.json.output) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -736,
        208
      ],
      "id": "70944d0e-d206-40a8-a382-980b2ea466a6",
      "name": "DM6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM public.cosmy_products \nWHERE codigo ILIKE ANY('{{ $json.pgArray }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        -448
      ],
      "id": "d84d4f7e-4f53-4407-8044-564537cece99",
      "name": "Execute a SQL query4",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "e6quJ2AJC7ic0Vmf",
          "name": "Daniela"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cfda3c55-28e8-43aa-a3bf-371126dec07e",
              "leftValue": "={{ $json.body.entry[0].messaging[0].sender.id }}",
              "rightValue": "=17841468570786883",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "0718c5c2-26c9-4b2b-b40b-21eb5e92f207",
              "leftValue": "={{ $('Entrada').item.json.body.entry[0].messaging[0].message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "b117ccb4-563e-47ba-b870-56fd495d0eae",
              "leftValue": "={{ $json.body.entry[0].messaging[0].sender.id }}",
              "rightValue": "654864874012302",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2544,
        736
      ],
      "id": "b7dab472-eede-4858-880e-a63d29df2986",
      "name": "Filter3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a616a781-ad6e-4f7a-a45b-8e0cae03254b",
              "leftValue": "={{ $('AI Agent10').item.json.output }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        -352
      ],
      "id": "7c4dcbd1-2d82-4f86-9d32-4dee377a64ad",
      "name": "If11"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "temperature": 0,
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1328,
        -224
      ],
      "id": "f7948b0c-02aa-423a-b25e-38a4dd4d472c",
      "name": "OpenAI Chat Model18",
      "credentials": {
        "openAiApi": {
          "id": "nGCIfb7hYxuXa12Q",
          "name": "openai eleudo"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -736,
        -224
      ],
      "id": "15d05726-a738-491a-8140-32bea9e305fa",
      "name": "OpenAI Chat Model19",
      "credentials": {
        "openAiApi": {
          "id": "nGCIfb7hYxuXa12Q",
          "name": "openai eleudo"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.instagram.com/v19.0/{{ $('Entrada').item.json.body.entry[0].changes[0].value.media.id }}?fields=id,caption,media_type&access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer AQUI TU TOKEN"
            },
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1792,
        -192
      ],
      "id": "571ce9ce-9acc-44bd-95b1-ccdae3b3da74",
      "name": "Extraer las descripcion3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "temperature": 0,
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1440,
        -80
      ],
      "id": "eea79a50-d27d-41ea-baa1-ca0ff5783368",
      "name": "OpenAI Chat Model21",
      "credentials": {
        "openAiApi": {
          "id": "nGCIfb7hYxuXa12Q",
          "name": "openai eleudo"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Extraer las descripcion3').item.json.caption }}",
        "options": {
          "systemMessage": "=**Tarea:** Extrae el código del producto de la siguiente descripción.\n**Descripción:** {{ $('Extraer las descripcion3').item.json.caption }}\n**Instrucciones:** \n1. Busca una secuencia de 1 a 4 dígitos. puede haber mas de 2 codigos \n2. Si no encuentras un código, devuelve un NO\n3. Si encuentas un codigo devuelve un SI\n\n\nson tus 2 unicas respuestas SI o NO"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1504,
        -304
      ],
      "id": "b1b37984-da09-4b72-8ffa-902f3d7c5295",
      "name": "AI Agent15"
    },
    {
      "parameters": {
        "jsCode": "const codesDataString = $input.first().json.output;\n\nlet codesArray;\ntry {\n  const jsonObject = JSON.parse(codesDataString);\n  codesArray = jsonObject.codigos;\n} catch (e) {\n  console.error(\"Failed to parse JSON string from IF3:\", e);\n  codesArray = null; \n}\nif (!codesArray || codesArray.length === 0) {\n  return $input.all(); \n}\nconst searchPatterns = codesArray.map(code => `\"%${String(code).trim()}%\"`);\nconst pgArrayString = `{${searchPatterns.join(',')}}`;\nreturn [{ json: { pgArray: pgArrayString } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -448
      ],
      "id": "334ea186-b250-409b-88d1-cdf61797309e",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        352,
        -256
      ],
      "id": "1d35c12f-895e-4495-9433-8a799cc9c591",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "marca"
            },
            {
              "fieldToAggregate": "producto"
            },
            {
              "fieldToAggregate": "precio"
            },
            {
              "fieldToAggregate": "fecha_vencimiento"
            },
            {
              "fieldToAggregate": "existencia"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        800,
        -448
      ],
      "id": "c27180a2-fcd4-48ab-949f-4d9c1683948e",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "jsCode": "// El bloque de código debe devolver un array de objetos\n// Para evitar el error \"Code doesn't return items property\"\n\n// 1. Obtener el item de entrada, que contiene todos los arrays agrupados.\nconst item = $input.first().json;\n\n// 2. Definir los arrays. Usamos la sintaxis simplificada ya que estamos en un Code Node.\nconst productos = item.producto;\nconst marcas = item.marca;\nconst precios = item.precio;\nconst existencias = item.existencia;\n// Nuevo: Incluir la fecha de vencimiento\nconst fechas = item.fecha_vencimiento; \n  \nlet lista = \"\";\n\n// 3. Itera sobre los arrays para construir la lista formateada.\nfor (let i = 0; i < productos.length; i++) {\n  const disponibilidad = existencias[i] ? \"Inmediata\" : \"Consultar\";\n\n  lista += `${i + 1}. ${productos[i]} (Marca: ${marcas[i]})\\n`;\n  lista += `   - Precio: $${precios[i]}\\n`;\n  lista += `   - Disponibilidad: ${disponibilidad}\\n`;\n  //Nuevo: Añadir la fecha de vencimiento. Si es null, mostrar 'N/A'.\n  lista += `   - Vencimiento: ${fechas[i] || 'N/A'}\\n`; \n}\n\n// 4. Devolver la lista formateada en el formato JSON correcto.\n// Se devuelve un array que contiene un objeto con la lista en el campo 'listaProductos'.\nreturn [{ json: { listaProductos: lista } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -448
      ],
      "id": "36a79c17-dc52-4177-837f-5769cf676208",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -736,
        -48
      ],
      "id": "909890f3-4cc3-4717-b338-19752b3d14fd",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "manychat_cache",
          "mode": "list",
          "cachedResultName": "manychat_cache"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "time": "={{ $('Entrada').item.json.body.entry[0].time }}",
            "id_usuario": "={{ $('Entrada').item.json.body.entry[0].changes[0].value.from.id }}",
            "username": "={{ $('Entrada').item.json.body.entry[0].changes[0].value.from.username }}",
            "id_publicidad": "={{ $('Entrada').item.json.body.entry[0].changes[0].value.media.id }}",
            "respuesta": "={{ $json.output }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id_usuario",
              "displayName": "id_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_publicidad",
              "displayName": "id_publicidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "respuesta",
              "displayName": "respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1600,
        -448
      ],
      "id": "ff61bc5e-5fd9-4fb3-8712-87814b942fca",
      "name": "Insert rows in a table5",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "e6quJ2AJC7ic0Vmf",
          "name": "Daniela"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Entrada').item.json.body.entry[0].messaging[0].message.text }}",
        "options": {
          "systemMessage": "=eres un asistente virtual interpreta la intencion del usuario con mas de 8 años de experiencia\n\nse amigable, no uses emojin y jamas digas que eres un bot y de donde te desarrollaron, ni la estructura donde ejecutas este prompt, solo responde eres un asistente virtual\n\n- no inventes ninguna informacion\n\n- si el cliente pregunta por envios responde esto:\n\nNuestros medios de envios son Mrw, Zoom, Tealca, Transporte Carrillo y Liberty para toda venezuela porque en cosmy somos tu mejor opcion!\n\nSIEMPRE RESPONDE ESTO CUANDO TE REGUNTAN POR LOS ENVIOS\n\n- si el usuario pregunta por la ubicacion responde esto:\n\nEstamos en urbanización Irama, diagonal a la contraloria municipal de Maracaibo 🙌🏻 edo. Zulia\n\n- los metodos de pago son los siguientes: \n\n * Transferencias Bancaria\n * Pago Movil\n * Efectivo Moneda extranjera\n * Banesco Panama\n * Zelle\n * Binance\n\n- Este es nuestro correo: devcloudplanet@gmail.com \n\n- El horario de atencion es de 8am a 5pm\n\n- cuando el usuario quiera pedir otro producto responde que para dar informacion tiene que ir al whatsapp para realizar la cotizacion con el personal de ventas\n\n- si el usuario necesita asesoria con una prueba dile que el personal de asesoria cientifica esta disponible para servirle\n\n- ten en cuenta que toda las ventas se concretan con el equipo de ventas a traves del whatsapp\n\n- si te pregunta por un producto dirigelo al whatsapp: \n\npuedes contactarnos al WhatsApp (envia este enlace https://wa.me/584264256617) y con gisto le atenderemos \n\npor ningun motivo nunca pero jamas digas que no tienes disponible el producto siempre diregelo al WhatsApp para mayor informacion del producto\n\n#Datos Principales\nsi el usario te envia la siguiente informacion:\n\n✅ Nombre y apellido:\n✅ Teléfono:\n✅ Laboratorio \n✅ Ciudad\n✅ Estado\n\nvas a pasarlo de la siguiente manera:\n{\n  \"total_messages\": 1,\n  \"requiere_redireccion\": false,\n  \"next_step\": {\n    \"action\": \"register_new_user\",\n    \"client\": {\n      \"nombre\": \"[Nombre proporcionado por el cliente]\",\n      \"telefono\": \"[telefono proporcionado por el cliente]\",\n      \"laboratorio\": \"[Laboratorio proporcionado por el cliente]\",\n      \"ciudad\": \"[Ciudad proporcionada por el cliente]\",\n      \"estado\": \"[Estado/Provincia proporcionado por el cliente]\"\n    }\n  },\n  \"messages\": [\n    {\n      \"order\": 1,\n      \"content\": \"¡Perfecto, [Nombre del cliente, solo el primer nombre o nombre y apellido]! ya te enviamos un Whatsapp\",\n      \"delay\": 1,\n      \"tipo\": \"texto\"\n    }\n  ]\n}\n\nesta sera tu salida\nel numero de telefono debes de eliminar el primer 0 que esta adelante y colocarle 58\n\n#MENSAJE DEL AUTOLUMO\ncuando el usuario quiera envue el numero de telefono sigue la conversacion del autolumo enviando estos datos:\n\nEl Autolumo A 1860 Lo colocamos solo en calidad de COMODATO por consumo de reactivos. ✅ \n\nPara este equipo estamos solicitando un consumo mensual de 8-10 kits de 100 test +Consumibles .  Si su estadística de pruebas especiales se ajusta a estos requerimientos nos informa y lo pondremos en contacto con un Asesor para que le brinde inf más detallada y personalizada. 🫂 ✅ ☺️\n\n\n#CUANDO EL USUARIO QUIERE CONCRETAR O QUE LO CONTACTEN\nal finalizar si el cliente quiere mas informacion vas a responder con solamente WS unicamente esta sera tu respuesta tienes que interpretar la respuesta del cliente\n\ncomo por ejemplo: Estoy interesado en el autolumo pero me gustaría que me pasaran la información\n\npara este caso responde WS \nsiempre ten en cuenta la intención del usuario si ya te ha pasado el número de teléfono responde WS\n\nsi el usuario pregunta si hacemos examenes medicos responde: ¡Hola! Nosotros no realizamos exámenes\n\n\nsi el cliente pide que lo contacten un asesor no pases el enlace primero usa la herramineta buscar_cliente y busca si esta registrado # USA LA HERRAMIENTA y en caso de que este registrado responde WS si no lo esta pide los siguientes datos de la siguiente manera:\n\nPor favor compártenos tu:\n\n✅ Nombre y apellido:\n✅ Teléfono:\n✅ Laboratorio \n✅ Ciudad\n✅ Estado \n\nAsí nuestro asesor en automatizaciones te enviará toda la información personalizada que necesites 😉\n\n¡Estamos listos para llevar a tu laboratorio al siguiente nivel! 🚀\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2208,
        1040
      ],
      "id": "240b88d9-3249-4cf7-b24f-3a1d995add49",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2256,
        1264
      ],
      "id": "06fe4cf4-13cf-4547-a4a9-081334c68f37",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "nGCIfb7hYxuXa12Q",
          "name": "openai eleudo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v23.0/{{ $('Entrada').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer AQUI TU TOKEN"
            },
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_type\": \"RESPONSE\",\n  \"recipient\": {\n    \"id\": \"{{ $('Entrada').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": {{ JSON.stringify($('Code in JavaScript').item.json.response_message) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -928,
        784
      ],
      "id": "410d790b-c173-4db3-8a5f-6af520d9a6ef",
      "name": "DM3"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "DevCloudPlanet",
        "remoteJid": "={{ $json.phone }}",
        "messageText": "=Hola! {{ $json.nombre }} Te escribimos de Cosmy notamos tu interes en nuestros productos.\n\nGracias por contar con nosotros. ",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -576,
        1168
      ],
      "id": "68a3855d-3c63-4857-b6e5-90c76ce3537e",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "eJjfe1qDOnPBJYgX",
          "name": "DevCloudPlanet evolution api"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "DevCloudPlanet",
        "remoteJid": "=+584146378140",
        "messageText": "=nuevo usuario de instagram acaba de ser contactado por whatsapp \n\nDatos del usuario:\n\nNombre: {{ $('Execute a SQL query2').item.json.nombre }}\nLaboratorio: {{ $('Execute a SQL query2').item.json.laboratorio }}\nTelefono: {{ $('Execute a SQL query2').item.json.phone }}\nCiudad: {{ $('Execute a SQL query2').item.json.ciudad }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -224,
        1168
      ],
      "id": "52829896-4d44-4540-8983-2bb89f85ff82",
      "name": "Enviar texto1",
      "credentials": {
        "evolutionApi": {
          "id": "eJjfe1qDOnPBJYgX",
          "name": "DevCloudPlanet evolution api"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "client_memory",
          "mode": "list",
          "cachedResultName": "client_memory"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $json.client_data.telefono }}",
            "phone": "=+{{ $json.client_data.telefono }}",
            "nombre": "={{ $json.client_data.nombre }}",
            "laboratorio": "={{ $json.client_data.laboratorio }}",
            "estado": "={{ $json.client_data.estado }}",
            "ciudad": "={{ $json.client_data.ciudad }}",
            "ig_id": "={{ $('Entrada').item.json.body.entry[0].messaging[0].sender.id }}"
          },
          "matchingColumns": [
            "chat_id"
          ],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "laboratorio",
              "displayName": "laboratorio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ultima_vez",
              "displayName": "ultima_vez",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "interacciones",
              "displayName": "interacciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "rif",
              "displayName": "rif",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "nombre_presupuesto",
              "displayName": "nombre_presupuesto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ciudad",
              "displayName": "ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ig_id",
              "displayName": "ig_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1216,
        784
      ],
      "id": "ff5e12d2-9ae5-4e45-98b3-5529020d9d1b",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "e6quJ2AJC7ic0Vmf",
          "name": "Daniela"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// El input JSON de n8n es un array, accedemos al primer elemento\nconst inputItem = $input.item; \nconst rawOutput = inputItem.json.output;\n\n// 1. Limpia la cadena y la convierte en un objeto JavaScript\nconst jsonObject = JSON.parse(rawOutput);\n\n// 2. Extrae los datos del cliente para la base de datos (Postgres)\nconst clientData = jsonObject.next_step.client;\n\n// 3. Extrae el mensaje de respuesta para el chat (messages)\n// Asumimos que el mensaje que quieres es siempre el primero (índice 0)\nconst clientMessage = jsonObject.messages[0].content;\n\n// 4. Combina los datos de registro y el mensaje en un nuevo objeto de salida.\n// Esto facilita el mapeo en los nodos posteriores (ej: Postgres y Whatsapp/Chat)\nreturn [{ \n    json: {\n        // Datos para Postgres/Registro\n        client_data: clientData,\n        // Mensaje para el Cliente\n        response_message: clientMessage\n    } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        1040
      ],
      "id": "8ebb4da5-1e63-4fa0-9c87-efadc160ed92",
      "name": "Code in JavaScript",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v23.0/{{ $('Entrada').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer AQUI TU TOKEN"
            },
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_type\": \"RESPONSE\",\n  \"recipient\": {\n    \"id\": \"{{ $('Entrada').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": {{ JSON.stringify($('AI Agent2').item.json.output) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -928,
        976
      ],
      "id": "43fac5c4-31dd-4a9c-989e-04bc695b0930",
      "name": "DM4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f457e4f0-e0ac-425b-ba0a-ba83f1f5ef63",
              "leftValue": "={{ $json.response_message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1504,
        1040
      ],
      "id": "5d69201c-c9a8-4fa6-85b8-d1a508b49fd8",
      "name": "If4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "63fad70e-0dd2-4468-bfb9-8b3d094e12d8",
              "leftValue": "={{ $('AI Agent2').item.json.output }}",
              "rightValue": "WS",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1216,
        1168
      ],
      "id": "994994d2-5709-4d14-8f91-887d7f8bfd0a",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM public.client_memory\nWHERE ig_id = '{{ $('Entrada').item.json.body.entry[0].messaging[0].sender.id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -928,
        1168
      ],
      "id": "37f079b2-2345-4394-beb4-2792201843e2",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "e6quJ2AJC7ic0Vmf",
          "name": "Daniela"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM public.client_memory where ig_id ='{{ $json.body.entry[0].messaging[0].sender.id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -2000,
        1264
      ],
      "id": "573cdb6e-db96-4817-a56c-9fb256e81ae1",
      "name": "buscar_cliente",
      "credentials": {
        "postgres": {
          "id": "e6quJ2AJC7ic0Vmf",
          "name": "Daniela"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "DevCloudPlanet",
        "remoteJid": "={{ $json.phone }}",
        "messageText": "=Hola! {{ $json.nombre }} Te escribimos de Cosmy notamos tu interes en nuestros productos.\n\nGracias por contar con nosotros. ",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -928,
        592
      ],
      "id": "74f23c24-8686-4b52-98e9-7d332858470a",
      "name": "Enviar texto2",
      "credentials": {
        "evolutionApi": {
          "id": "eJjfe1qDOnPBJYgX",
          "name": "DevCloudPlanet evolution api"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "DevCloudPlanet",
        "remoteJid": "=+584146378140",
        "messageText": "=nuevo usuario de instagram acaba de ser contactado por whatsapp \n\nDatos del usuario:\n\nNombre: {{ $('Insert or update rows in a table').item.json.nombre }}\nLaboratorio: {{ $('Insert or update rows in a table').item.json.laboratorio }}\nTelefono: {{ $('Insert or update rows in a table').item.json.phone }}\nCiudad: {{ $('Insert or update rows in a table').item.json.ciudad }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -576,
        592
      ],
      "id": "c9efe45e-ef9a-41e0-a1f5-df712b3b42f4",
      "name": "Enviar texto3",
      "credentials": {
        "evolutionApi": {
          "id": "eJjfe1qDOnPBJYgX",
          "name": "DevCloudPlanet evolution api"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.entry[0].messaging[0].sender.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2160,
        1296
      ],
      "id": "9a59484c-f543-4603-b346-43ee7bf62c5b",
      "name": "Simple Memory"
    }
  ],
  "pinData": {
    "Entrada": [
      {
        "json": {
          "headers": {
            "host": "n8ndev.devcloudplanet.com",
            "user-agent": "Webhooks/1.0 (https://fb.me/webhooks)",
            "content-length": "310",
            "accept": "*/*",
            "content-type": "application/json",
            "x-forwarded-for": "31.13.115.112",
            "x-forwarded-host": "n8ndev.devcloudplanet.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "6b402f81bc61",
            "x-hub-signature": "sha1=da9d8bba7a866beefeb5687ac66baf69864d773d",
            "x-hub-signature-256": "sha256=82245a5a6fe15bad0368cb6eedc86b9224ac22b159030e504846620f15866373",
            "x-real-ip": "31.13.115.112",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "entry": [
              {
                "id": "17841468570786883",
                "time": 1762655280,
                "changes": [
                  {
                    "value": {
                      "from": {
                        "id": "1479308576413553",
                        "username": "eleudofuva"
                      },
                      "media": {
                        "id": "18021605702784912",
                        "media_product_type": "FEED"
                      },
                      "id": "18006236627656580",
                      "text": "informacion"
                    },
                    "field": "comments"
                  }
                ]
              }
            ],
            "object": "instagram"
          },
          "webhookUrl": "https://n8ndev.devcloudplanet.com/webhook/24bc0da6-9cdf-4a95-bca7-dac7bf087089",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Entrada": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Filtro inicial2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro inicial2": {
      "main": [
        [
          {
            "node": "Extraer las descripcion3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain10": {
      "main": [
        [
          {
            "node": "Contestar comentarios3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image1": {
      "main": [
        [
          {
            "node": "Image Explainer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Explainer1": {
      "main": [
        [
          {
            "node": "Execute a SQL query3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Image Explainer1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model12": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent8",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filtro inicial3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent8": {
      "main": [
        [
          {
            "node": "DM6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query3": {
      "main": [
        [
          {
            "node": "AI Agent8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contestar comentarios3": {
      "main": [
        [
          {
            "node": "AI Agent10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model14": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent10",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent10": {
      "main": [
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent11": {
      "main": [
        [
          {
            "node": "Insert rows in a table5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Basic LLM Chain10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro inicial3": {
      "main": [
        [
          {
            "node": "Download Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query4": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model18": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent11",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model19": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain10",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extraer las descripcion3": {
      "main": [
        [
          {
            "node": "AI Agent15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model21": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent15",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent15": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Execute a SQL query4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "AI Agent11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DM6": {
      "main": [
        []
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "DM3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar texto2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "DM4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar_cliente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto2": {
      "main": [
        [
          {
            "node": "Enviar texto3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "B2KOgLV4K9r2S7lx"
  },
  "versionId": "41c85c56-5b80-41fe-a1ce-f56c66346e20",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b12968c2763defbf07a4675787dc1363d47ccb07d9d8a590c0f00dfb98dbc0d"
  },
  "id": "AmLo0u6BdNY7As93",
  "tags": []
}